/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@pink: #BD004C;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.lang-selector {
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
}

.social-header {
    text-align: center;
    margin-top: 5px;

    & .fa {
        background: #a8a7a7;
        padding: 10px 12px;
        border-radius: 100%;
        color: #FFF;
    }
}

.preloader {
    background: rgba(255,255,255,0.97);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding: 23.5% 40%;
    .transition(all .2s ease-in-out);

    & .progress {
        height: 1px !important;
        margin-bottom: 5px !important;
        .transition(all .2s ease-in-out);
    }
}

.the-header { padding: 30px 0; }

.the-navbar {
    margin-top: 20px;

    & ul {
        list-style: none;
        padding-left: 0;
        line-height: 25px;

        & li {
            & a {
                color: @black;
                margin-left: 15px;
                font-weight: 600;

                &:hover {
                    color: @pink;
                    margin-left: 0;
                }
            }
        }

        & .current-menu-item {
            & a {
                color: @pink;
                margin-left: 0;
                font-weight: 600;
            }
        }
    }

    & .menu-expo-custom { padding: 15px 0; }

    & .menu-links-custom { padding: 15px 0; }
}

.the-footer {
    background: #5F5E63;
    color: @white;
    padding: 40px 0;
    padding-bottom: 20px;

    & .footer-item {
        line-height: 12px;
        font-weight: 600;

        & ul {
            list-style: none;
            padding: 0;
            line-height: 22px;

            & li {
                & a { color: @white; }
            }
        }

        & a { color: @white; }
    }

    & .social-footer {
        margin-bottom: 10px;

        & .fa {
            float: right;
            margin: 0 5px;
            padding: 10px;
            margin-top: -10px;
            background: @white;
            color: #5F5E63;
            border-radius: 100%;
            width: 32px;
            text-align: center;

            &:hover { background: @pink; }
        }
    }
}

.page-container {
    min-height: 100vh;

    & h1 {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.page-article {
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    padding: 10px 0;

    & h1 {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    & .fa-download { color: gray; }
}

.home-slider-container {
    margin-top: 24px;
    margin-bottom: 15px;

    & .owl-pagination {
        text-align: right;
        padding-right: 10px;
        margin-top: -5px;
    }

    & .owl-buttons {
        position: absolute;
        top: 42%;
        width: 108%;
        left: -30px;

        & .owl-prev { float: left; }

        & .owl-next { float: right; }
    }
}

.home-slider-item {
    & img { width: 100%; }
}

.home-expo-container {
    & div:nth-child(even) { padding-left: 0; }

    & div:nth-child(odd) { padding-right: 0; }

    & .home-expo-item {
        margin: 15px 0;
        padding-bottom: 25px;

        & h3 { font-size: 20px; }
    }

    & h2 {
        font-size: 30px;
        font-weight: 300;
    }
}

.catalogo-container {
    & article:nth-child(odd) { padding-left: 0; }

    & article:nth-child(even) { padding-right: 0; }
}

.archive-item-picture-container { position: relative; }

.archive-item-title-container {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 73%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 73%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 73%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    bottom: 0;
    left: 0;

    & a { color: #FFF; }

    & h2 {
        font-weight: 300;
        font-size: 20px;
        text-shadow: 1px 1px 6px black;
    }
}

.expo-item {
    min-height: 340px;
    padding-bottom: 25px;
}

.expo-item-picture-container { position: relative; }

.expo-item-picture-mask {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 73%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 73%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 73%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    bottom: 0;
    left: 0;
}

.expo-item-title-container {
    & h2 {
        font-size: 15px;
        font-weight: 600;
    }

    & a { color: darkslategrey; }
}

.expo-item-content-date, .expo-item-content-artist {
    font-size: 11px;
    text-transform: uppercase;
}

.expo-item-content-container {
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
}

.events-custom-container {
    & h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.event-custom-item {
    border-bottom: 1px dotted silver;
    padding-bottom: 10px;
    padding-top: 10px;
    .transition(all .3s ease-in-out);

    &:hover {
        .transition(all .3s ease-in-out);
        background: #eaeaea;
    }
}

.events-custom-item-date { font-size: 15px; }

.events-custom-item-title {
    font-size: 16px;
    font-weight: 600;
}

.events-custom-item-button { text-align: right; }

.btn-custom {
    background: black;
    border-radius: 0;
    color: #dddcdc;
    font-size: 16px;
    font-weight: 300;

    & i { margin-right: 5px; }
}

.wpcf7 {
    & input {
        width: 100%;
        font-size: 12px;
        margin-bottom: 5px;
        padding: 2px 10px;
        line-height: 25px;
        border: 1px solid gainsboro;
    }

    & textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 5px;
        padding: 2px 10px;
        line-height: 25px;
        border: 1px solid gainsboro;
    }

    & .wpcf7-submit {
        background: black;
        border: 0 !important;
        color: #FFF;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 15px !important;
        letter-spacing: 3px;
        padding: 7px 5px !important;
    }
}

.catalogo-item {
    & a { color: darkslategrey; }
}

.catalogo-item-title-container {
    padding-right: 0;
    text-align: right;
    margin-bottom: 20px;

    & h2 {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.single-artists-container {
    text-align: justify;
    font-size: 16px;
    line-height: 32px;

    & h1 {
        margin-top: 0;
        font-size: 25px;
        margin-bottom: 5px;
    }
}

.single-artists-aside {
    font-size: 15px;
    line-height: 25px;

    & h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }
}

.single-artists-expo-title {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 20px;
    border-left: 5px solid #eee;
}

.size-medium {
    width: 100%;
    height: auto;
    border: 2px solid #ffffff !important;
}

.gallery-columns-3 dl:nth-child(4n+1) {
    & img { border-left: 0 !important; }
}

.wp-paginate {
    & .current { background: @pink !important; }

    & a {
        background: none !important;
        border: 1px solid #f1f1f1 !important;
        color: #9e9e9e !important;
        margin-right: 7px !important;
    }
}
